<div class="card">
    <div class="avatar-cnt">
        <img
            [src]="element.avatar_url"
            alt
        >
    </div>
    <div class="info">
        <ul>
            <li>
                <i class="material-icons">person</i>
                <p>{{ element.login }}</p>
            </li>
           
            <li>
                <i class="material-icons">list_alt</i>

                <p>{{ element.type }}</p>
            </li>

        </ul>
    </div>
</div>
